*{
    background-color: black;
}
h1{
    color: brown;
}
.red{
    background-color: #da3936;
    height: 80px;
    width: 500px;
}
.blue{
    background-color: #0f49a2;
    height: 80px;
    width: 500px;
    position: relative;
    top: 80px;
}
.yellow{
    background-color: #f1ac4d;
    height: 80px;
    width: 500px;
    position: relative;
    top: 80px;
}
.Arm{
    margin-top: 200px;
    margin-left: 500px;
}
h1{
    position: relative;
    top: 500px;
    left: 650px;
}
